.page {
  background-color: #fff;
}

.section-title {
  margin: 0 auto;
  padding: 110px 0 22px;
  max-width: 1140px;
  color: #000;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  text-align: left;
  border-bottom: #000 solid 1px;
}
