.about-project {
  margin: 0 auto;
}

.about-project__container {
  max-width: 1140px;
  margin: 0 auto;
}

.about-project__items {
  display: flex;
  padding: 70px 0 0;
  flex-direction: row;
  list-style: none;
  margin: 0;
  justify-content: space-between;
}

.about-project__item {
  max-width: 550px;
}

.about-project__item-title {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
}

.about-project__item-description {
  margin: 26px 0 0;
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  max-width: 550px;
}

.about-project__timeline-container {
  margin: 110px auto 0;
  padding-bottom: 110px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 36px 31px;
  text-align: center;
}

.about-project__timeline-item {
  background: #f2f2f2;
}

.about-project__timeline-item_dark-theme {
  background: #000;
}

.about-project__timeline-text {
  margin: 9px 0;
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about-project__timeline-text_dark-theme {
  color: #fff;
}

.about-project__timeline-title {
  margin: 0;
  color: #a0a0a0;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px; /* 121.429% */
  align-self: flex-end;
}

@media screen and (max-width: 969px) {
  .about-project {
    padding: 0 50px;
  }

  .about-project__item {
    max-width: 318px;
  }

  .about-project__timeline-container {
    margin: 93px auto 0;
    padding-bottom: 90px;
  }

  .about-project__item-description {
    margin-top: 22px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
  }
}

@media screen and (max-width: 500px) {
  .about-project {
    padding: 0 18px;
  }

  .about-project__items {
    padding: 60px 0 0;
    flex-direction: column;
  }

  .about-project__item {
    margin-top: 56px;
  }

  .about-project__item:first-child {
    margin-top: 0;
  }

  .about-project__item-title {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
  }

  .about-project__item-description {
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    margin: 16px auto 0;
  }

  .about-project__timeline-container {
    margin: 60px auto 0;
    padding-bottom: 60px;
    grid-template-columns: 100px 184px;
    grid-template-rows: 36px 31px;
  }

  .about-project__timeline-text {
    padding: 11px 10px;
    margin: 0;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0%;
  }

  .about-project__timeline-title {
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0px;
    align-self: center;
  }
}
