.login{
  display: flex;
  flex-direction: column;
}

.login__redirect-line {
  margin: 16px auto 0;
  color: #A0A0A0;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login__redirect-link {
  margin: 0;
  margin-left: 6px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  transition: opacity .2s ease-in;
}

.login__redirect-link:hover{
  opacity: .8;
}